
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
}
.logo img {
    
    
    width: 33%;
    border: 3px solid green;
    border-radius: 50px;
}

.navbar {
    overflow:hidden;
    display: flex;
    border-bottom: 1px solid lawngreen;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
.nav-list {
    transition-property: all;
    transition-duration: 4s;
    width: 70%;
   background-color: black;
   display: flex;
   align-items: center;
}

.nav-list li{
    transition-property: all;
    transition-duration: 4s;
    list-style: none;
    padding: 23px 30px;
    
    

}
.nav-list li a{
    text-decoration: none;
    color: green;

}
.nav-list li a:hover{
    text-decoration: none;
    color: lightgreen;
}
.rightNav{
    /*background-color: blueviolet;*/
    width: 80%;
    text-align: right;
     display: flex;
    
}
#search {
    width:30%;
    text-align: center;
    padding: 5px;
    margin: 10px 15px 5px 400px ;
    font-size:15px;
    border:2px solid lightgreen;
    border-radius: 9px;
    justify-content: center;
}
.background{
    background-color: black;
    /* background: rgba(0, 0, 0, 0.7) url("../img/background.jpg") */
    background-size: cover;

}
.firstSection{
    height: 100vh;
}

.shalf {
    transition: all;
    transition-duration: 4s;
    
    height:70vh;
    padding: 5% 2%;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    /* background:rgba(0, 0, 0, 0.7)url(/img/background.jpg) */
    background-style:cover;
    
}
.text-big{
   
    font-size: 41px;
    font-family: Arial Narrow Bold;
    margin-top:-35%;
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.text-small{
    margin-top: 1%;;
    
    font-size:20px;
    padding-top:1%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    word-spacing: 0.1cm;
    line-height: 0.6cm;
}
.fhalf{
    
    height:75vh;
    justify-content: center;
    padding: 5% 2% 0 2%;
    color:white;
    background-color: black;
}
.fhalf h1{
    transition-property: all;
    transition-duration: 2s;
   
    margin-left:20px;
    justify-content: center;
    padding: 1% 2% 0 2%;
    color:white;
}
.fhalf img{
    transition-property: all;
    transition-duration: 4s;
    width:13%;
    margin-top: 8%;
    
    display: flex;
    border: 8px solid lawngreen;
    border-radius: 50%;
}
.btn {
  background: #02cf47;
  color: white;
  font-size: 17px;
  border: 1px solid blue;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
    padding:0 5px;
  margin: 10px 10px 0px 0;
  justify-content: center;
  padding-bottom: -5px;
  
 
}
.btn:hover{
    background:green;
}


.section {
    
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin-top:5%;
    /* background:rgba(0, 0, 0, 0.7) url("../img/background.jpg"); */
    font-family: 'Ubuntu', sans-serif;
}
.left{
    flex-direction: row-reverse;
}
.paras{
    
    padding:65px;
    /* background:rgba(0, 0, 0, 0.7) url("/img/background.jpg") */
    background-style: cover;

    
}
.secRight{
    height: 100vh;
    /* background:rgba(0, 0, 0, 0.7) url("/img/background.jpg") */
    background-style:cover;
}
.sectionTag{
    margin-top:10%;
    padding: 50px, auto;
    font-size: 41px;
    font-family: Arial Narrow Bold;

    display: flex;
    text-align: center;
    justify-content: center;
   

}
.sectionSubtag{
    padding:50px;
    font-size:20px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    word-spacing: 0.1cm;
    line-height: 0.6cm;

}
.thumbnail{
    float:right;
    margin-left:20%;
    margin-right:1%;
   
}
.thumbnail img{
    max-height:250px;
    width: 50%;
    margin-top:-12%;
    border: solid black 2px;
    border-radius:9px;
}
.contact{
    
    background-color: black;
    height:60vh;
    font-family:'Ubuntu', sans-serif;
    font-size: 24px;
    
}
.text-center{
    padding:30px;
    text-align: center;
    font-family:'Ubuntu', sans-serif ;
}
.form {
    margin: 14px auto;
    max-width:62%;
}
.form input{
    margin: 14px 0;
    width: 100%;
    font-size:19px;
    border: grey solid 2px;
    border-radius: 9px;
    text-align: center;
    padding: 2px 2px;
    color:rgb(7, 0, 0);
    font-family:'Ubuntu', sans-serif ;
}
.form input:hover{
    /* box-shadow:
    inset 0 0 50px rgb(33, 251, 13),      /* inner white */
    inset 20px 0 80px rgb(79, 255, 35),   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px rgb(33, 253, 25),  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px rgb(32, 253, 61),        /* outer left magenta */
    10px 0 80px #0ff;         outer right cyan */
   /* background-color: aquamarine; */
/* } */
/* .btn-sub{
    width:100px;
    padding: 10px;
    border: 2px solid black;
    font-family:'Ubuntu', sans-serif ;
    border-radius:8px;
} */
/* .btn-sub:hover{ */
    /* box-shadow:
    inset 0 0 50px rgb(33, 251, 13),      /* inner white */
    inset 20px 0 80px rgb(79, 255, 35),   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px rgb(33, 253, 25),  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px rgb(32, 253, 61),        /* outer left magenta */
    10px 0 80px #0ff;         outer right cyan */
    /* font-family:'Ubuntu', sans-serif ; */
}
.footer-text{
    padding:30px 0;
    text-align: center;
    font-family:'Ubuntu', sans-serif;
    background-color: rgb(80, 251, 27);
    color:black;

}
.burger{
    display:none;
    position: absolute;
    cursor: pointer;
    right:5%;
    top:15px;

}
.line{
    width:32px;
    background-color: white;
    height:4px;
    margin:5px 3px;
}
.js-btn{
    display: contents;
    text-decoration: none;
    color: rgb(25, 230, 93) 230);
    border: 1px solid green;
    background: linear-gradient(30deg, #d3d3d3, #fff);
}


