
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 33%;
    border: 3px solid green;
    border-radius: 50px;
}

.navbar {
    display: flex;
    border-bottom: 1px solid lawngreen;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
.nav-list {
   width: 50%;
   background-color: black;
   display: flex;
   align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 23px 30px;
    
    

}
.nav-list li a{
    text-decoration: none;
    color: green;

}
.nav-list li a:hover{
    text-decoration: none;
    color: lightgreen;
}
.rightNav{
    /*background-color: blueviolet;*/
    width: 50%;
    text-align: right;
    vertical-align: ;
    
}
#search {
    padding: 5px;
    margin: 10px 10px -4px 0;
    font-size:18px;
    border:2px solid lightgreen;
    border-radius: 9px;
}
.background{
    background-color: black;
    background: rgba(0, 0, 0, 0.7) url("../img/background.jpg")
    background-size: cover;

}
.firstSection{
    height: 100vh;
}

.shalf {
    
    height:70vh;
    padding: 5% 2%;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background:rgba(0, 0, 0, 0.7)url(/img/background.jpg)
    background-style:cover;
    
}
.text-big{
   
    font-size: 41px;
    font-family: Arial Narrow Bold;
    margin-top:-35%;
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.text-small{
    margin-top: 1%;;
    
    font-size:20px;
    padding-top:1%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    word-spacing: 0.1cm;
    line-height: 0.6cm;
}
.fhalf{
    
    height:90vh;
    justify-content: center;
    padding: 5% 2% 0 2%;
    color:white;
    background-color: black;
}
.fhalf h1{
    
    justify-content: center;
    padding: 1% 2% 0 2%;
    color:white;
}
.fhalf img{
    margin-top: 13%;
    
    display: flex;
    border: 8px solid lawngreen;
    border-radius: 50%;
}
.btn{

  width: 10%;
  padding: 10px 15px 10px 15px;
  margin-right:10px;
  background: #02cf47;
  color: white;
  font-size: 17px;
  border: 1px solid blue;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.btn:hover{
    background:green;
}
.btn btn-sm {
    padding: 6px 10px;;
}

.section {
    
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin-top:5%;
    background:rgba(0, 0, 0, 0.7) url("../img/background.jpg")
    font-family: 'Ubuntu', sans-serif;
}
.left{
    flex-direction: row-reverse;
}
.paras{
    padding:65px;
    background:rgba(0, 0, 0, 0.7) url("/img/background.jpg")
    background-style:cover;

    
}
.secRight{
    height: 100vh;
    background:rgba(0, 0, 0, 0.7) url("/img/background.jpg")
    background-style:cover;
}
.sectionTag{
    margin-top:10%;
    padding: 50px, auto;
    font-size: 41px;
    font-family: Arial Narrow Bold;

    display: flex;
    text-align: center;
    justify-content: center;
   

}
.sectionSubtag{
    padding:50px;
    font-size:20px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    word-spacing: 0.1cm;
    line-height: 0.6cm;

}
.thumbnail{
    float:right;
    margin-left:20%;
    margin-right:1%;
   
}
.thumbnail img{
    max-height:250px;
    width: 50%;
    margin-top:-12%;
    border: solid black 2px;
    border-radius:9px;
}
.contact{
    
    background-color: black;
    height:60vh;
    font-family:'Ubuntu', sans-serif;
    font-size: 24px;
    
}
.text-center{
    padding:30px;
    text-align: center;
    font-family: ;
}
.form {
    margin: 14px auto;
    max-width:400px;
}
.form input{
    margin: 14px 0;
    width: 100%;
    font-size:19px;
    border: grey solid 2px;
    border-radius: 9px;
    text-align: center;
    padding: 2px 2px;
}
.form input:hover{
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
  
}
.btn{
    width:120px;
    padding: 10px;
    border: 2px solid black;
}
.btn:hover{
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}